body {
    margin: 0;
    padding: 40px;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #00d4ff;
    font-size: 40px;
}

p {
    color: #d1d5db;
    font-size: 18px;
}

input {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
}

button {
    margin-top: 15px;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #00d4ff;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
}

#sonuc {
    margin-top: 30px;
    font-size: 22px;
    color: #22c55e;
}
