body{
margin:0;
padding:30px;
background:#0b1220;
font-family:Arial,sans-serif;
color:white;
text-align:center;
}

h1{
font-size:42px;
color:#00d4ff;
}

input{
width:90%;
max-width:420px;
padding:15px;
font-size:18px;
border:none;
border-radius:12px;
margin-top:20px;
}

button{
margin-top:20px;
padding:15px 40px;
font-size:20px;
font-weight:bold;
border:none;
border-radius:12px;
background:#00d4ff;
cursor:pointer;
}

.card{
background:#162033;
max-width:500px;
margin:30px auto;
padding:25px;
border-radius:20px;
box-shadow:0 0 25px rgba(0,212,255,.35);
}

.bar{
height:18px;
background:#26354d;
border-radius:30px;
overflow:hidden;
margin:15px 0;
}

.fill{
height:100%;
background:#00d4ff;
}

hr{
border:1px solid #32425c;
margin:20px 0;
}
